body {

    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgba(1,17,75,1) 0%, rgba(17,135,161,1) 50%, rgba(0,212,255,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    background-color: #e8f0fe;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.respuesta {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    min-height: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.respuesta:empty {
    display: none;
}
.img-1{
    margin-top:400px;

}
.img-2{
    margin-top:400px;

}